<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> <mark>Food_Mania</mark> is Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ullam eos nostrum expedita alias neque reiciendis architecto molestiae nulla. Quos ex nostrum saepe fugit voluptas autem incidunt cum veniam alias?
    Rerum perferendis soluta ipsam minus assumenda quidem sit dolorum ducimus nulla animi at voluptatem tempore a ab modi architecto laudantium, repudiandae dolor optio ipsum! Dolor praesentium facilis nostrum similique deserunt?
    Magni, provident enim? Quaerat aliquam impedit dolore voluptates possimus neque animi illo cupiditate delectus quisquam! Repellat repellendus debitis dicta illum ullam, consequuntur sit culpa fugiat quas possimus soluta aspernatur quibusdam?
    Sapiente dolores odio blanditiis error possimus, numquam et officiis dolore quasi, voluptas earum excepturi placeat corporis iusto doloribus! Nam commodi corrupti rerum saepe possimus rem provident debitis eos aliquid libero.</h2>
</body>
</html>